- name: Install HTTPD using Ansible Playbook
  hosts: all
  become: true
  tasks:
    - name: Install HTTPD package
      package:
        name: httpd
        state: present
    - name: Start HTTPD service
      service:
        name: httpd
        state: started
        enabled: yes